
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "./background.css";
@import "./navbar.css";

:root {
    --bg-dark: #0a0a0a;
    --text-light: #f0f0f0;
    --text-dark: #0f0f0f;

    --text-navbar-light: #f4f4f4;

    /* --color-primary: 
    --color-secondary: 
    --color-accent: 
    */

    --color-red: #A3122D;
    --color-red-dark: #5E0B1B;
    --color-red-orange: #A93625;
    --color-orange: #C05A24;
    --color-cyan: #33EDE5;

    --blob-blur: 50px;
    --navbar-height: 64px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html {
    background: var(--bg-dark);
    scroll-behavior: smooth;
}

body {
    color: var(--text-light);
}

::selection {
    background: var(--color-cyan);
    color: var(--text-dark);
}

/* h1 {
} */

a {
    text-decoration: none;
}

.page {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding-top: var(--navbar-height);
}
